## Data Visualization

This notebook demonstrates the different visualization techniques Python and its libraries offer.

### Lahman's Baseball Database

The baseball dataset from Lahman can be downloaded here: http://www.seanlahman.com/baseball-archive/statistics

In [86]:
from matplotlib import pyplot as plt
import sqlite3

db_path = '../../data/lahman2016.sqlite'

# Connecting to the sql database
conn = sqlite3.connect(db_path)
c = conn.cursor()

#### 1. Which player hit the most home runs in 2002?

In 2002, Alexander Rodriguez scored a total of 57 home runs while he was playing for the Texas Rangers.

In [89]:
query = """
            SELECT m.nameGiven, m.nameLast, t.name, max(b.HR) AS homeruns
            FROM Batting AS b
            LEFT JOIN MASTER AS m ON b.playerID = m.playerID
            LEFT JOIN Teams AS t ON b.teamID = t.teamID
            WHERE b.yearID = '2002'
            AND   t.yearID = '2002'
        """

c.execute(query)

most_homeruns = c.fetchall()[0]

print(f"{most_homeruns[0]} {most_homeruns[1]} scored {most_homeruns[3]} homeruns while playing for {most_homeruns[2]}")

Alexander Enmanuel Rodriguez scored 57 homeruns while playing for Texas Rangers

#### 2. Which team spent the most / least money on player salaries in 2002?

useful fields:
- t.Rank
- s.salary

In [115]:
query = """
            SELECT t.teamID, t.name, t.Rank, sum(s.salary) as TotalSalary
            FROM Teams AS t
            LEFT JOIN Salaries AS s ON t.teamID = s.teamID
            WHERE t.yearID = '2002'
            AND   s.yearID = '2002'
            GROUP BY t.teamID
            ORDER BY TotalSalary desc
        """

c.execute(query)

team_salaries = c.fetchall()

most_spent  = team_salaries[0]
least_spent = team_salaries[len(team_salaries)-1]

# for currency formatting
import locale



print(f"""
        The {most_spent[1]} spent a total of {most_spent[3]} US dollars
        and finished their season at rank {most_spent[2]}
       """)

print(f"""
        The {least_spent[1]} spent a total of {least_spent[3]} US dollars
        and finished their season at rank {least_spent[2]}
       """)

#print(team_salaries)

        The New York Yankees spent a total of 125928583 US dollars
        and finished their season at rank 1


        The Tampa Bay Devil Rays spent a total of 34380000 US dollars
        and finished their season at rank 5